/*main*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('includes/images/city-la.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#overlay-color{
   position: fixed;
   width: inherit;
   height: inherit;
   opacity: .3;
   z-index: 0;
   background-color: pink;

}

#top-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


header{
    display: flex;
    width: 100%;
    height: 10%;

    z-index: 1;
}
header:hover{
    background-color: grey;

}
.headerSearch{
    width: 50%;
    position: absolute;
    left:46%;    /*katy changed this line */
    top:34%;

}
#logo{
    display: flex;
    box-sizing: border-box;
    width:  90px;
    height: 100%;
    text-align: center;
    position: relative;   
    float: left;
    left: 2%;
    cursor: pointer;
}
#logoSpam{
    font-size: 2em;
    position: absolute;
    margin-top: 23px;
}

/*body*/
.mainBody{
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    top:10px;
}

/*first page*/
#inputContainer {
   /*width: 80%;*/
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    border-radius: 15px;
    opacity: 0.5;
    border: 10px double white;
}
#inputContainer-wraper{
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 1;
}
.search-form{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    width: 30%;
}

/*second page*/
/*event container*/
.event{
    border: 2px solid gray;
    border-radius: 10px;
    /*margin: 1% 0;*/
    /*background-color: #000;*/
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
}

.eventDetailPageContainer{
    width: 100%;
    height: 100%;
}

.outerEventContainer{
    height:200px;
    opacity: 2.0;
    padding-right: 0.5%;
}
.innerEventContainer{
    cursor: pointer;
    padding:4%;
    height:95%;
    background-size: contain;
}
.eventContent{
    position: relative;
    font-size: 1.2em;
    font-weight: 500;
    color:white;
    text-shadow: 1px 1px 1px #000;    
    margin: 0;
}

/*page 3*/

#eventInfoArea{
    position: relative;
    height: auto;
    color: white;
    width: 100%;
   /* margin: 0 5%;*/
    font-size: 1.2em;
    border: 10px double gray;
    box-shadow: 10px 10px 20px gray;
    padding: 15px;
}

#imageArea{
    width: auto;
    height: auto;

}
.eventInfoBox{
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;

}

.containerSize{
    height: 90%;
    border: 2px solid gray;
    box-sizing: border-box;
    position: relative;
    top: 5%;
    margin: 2px;
    border-radius: 5px;

}



.eventName{
    overflow-wrap: break-word;
}


.searchCategory{
    cursor: pointer;
}

.pageHidden{
    display: none;
}
#mapArea{
    height: 80vh;
}

#google-map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*helper css*/
.closePage3 {
    position: absolute;
    left: 90%;
    font-size: 3em;
    /* color: grey; */
    font-weight: bold;
    cursor: pointer;
    color: pink;
    z-index: 1;
}
.closePage3:hover{
    color:white;
    text-shadow: 1px 1px 10px pink;
}


#autoComplete{
    list-style: none;
    position: absolute;
    top: 100%;
    border: 1px solid black;
    background-color: white;

    /*Sorry Dan*/
    z-index: 100;
}
.autoCompleteLI{
    cursor: pointer;
    text-align: left;
    color: black;
}
.initialHide{
    display: none;
}

#surroundingAreaInfo{
    padding-top: 1%;
    display: inline-block;
}
#yelpSearchButton{
    width: 100%;
}
#yelpBusinessList{
    height:50vh;
    overflow-y:scroll;
    margin-bottom: 15px;
}
.restaurantContainer{
    border: 5px double gray;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    opacity: 0.9;
}
.restaurantInfo{
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 10px black;
    
}